{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Password Reset{% endblock title %}
{% block content %}
<h3>Password Reset:</h3><br />
<form method="POST" action="{% url 'user:password_reset' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter Registered Email">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}
